altgraph==0.15
AnyQt==0.0.8
cx-Freeze==5.1.1
et-xmlfile==1.0.1
future==0.16.0
jdcal==1.4
macholib==1.9
numpy==1.15.0
openpyxl==2.5.4
pefile==2017.11.5
pip==9.0.3
PyInstaller==3.3.1
pypiwin32==223
PyQt5==5.11.2
PyQt5-sip==4.19.12
pyreadline==2.1
python-dateutil==2.7.3
pywin32==223
setuptools==40.0.0
six==1.11.0
